:root {
    font-size: 3vw;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}
$blck: #121212;
$wht: #f6f6ff;
$p1: #e37777;
$p2: #73aded;
$p3: #a9d18e;
$p4: #eaaf60;
$p5: #9e84f0;
$s1: #874545;
$s2: #484b78;
$s3: #577a45;
$s4: #8f7741;
* {
    box-sizing: border-box; margin:0;padding:0;
    font-family: Helvetica, sans-serif;
    user-select:none;
}
body {
    width:100%;
    scrollbar-width: 0px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display:none
}
header {
    width:100%; position: relative; 
    padding-top:3.6em; background: #eaaf60;
    background-image: url(./pics/noise.png); background-attachment: fixed;
    height: calc(110vw * (1/2));
}
img[src='./8-star.png']{
    width:2em; z-index: 2;
    position:absolute; left:55vw;
    animation: spin-back 10s linear infinite;
    filter: drop-shadow(0 0 1em $p5);
}
hr {
    width:61.8%; opacity: 50%;
    margin:0.5rem auto;
    height:1px;
    border:0;
    background-color: $blck;
}
#header-1 {
    display:grid;
    padding-left:2em;
    padding-right: 2em;filter: opacity(90%);
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    div:has(img){
        grid-column: 1; filter: brightness(0.2) saturate(5);
        grid-row: 1/4; position: relative;
    }
    img {
        width:55vw; 
    }
    #header-links {
        grid-column: 2;
        font-size:50%;
        grid-row: 1;
        display: flex;
        gap: 2em;
        padding-left:2rem;
    }
    h2 {
        font-size:150%;
        grid-column: 2;grid-row:1;
        padding-bottom:0.5rem;
        padding-top:1.3rem;
        padding-left:2rem;
    }
}
#header-2 {
    width:100%;
    display: flex;
    align-items:center;
    vertical-align: bottom;
    justify-content: space-between;
    position:absolute;
    bottom:calc(100% - (90vw * (1/2)) + 2em);
    padding: 0 1rem 0.2em 1.8em;
    h4 {
        font-weight: 700;
        font-size: 70%; filter: opacity(90%);
        letter-spacing: 0.3px;
        height:100%;
        vertical-align: bottom;
    }
    button {
        font-size: 0.6rem;
        border-radius: 1.5em;
        padding:auto;
        height:2em; width:8em;
        border:1px solid #000000;
    }
}
img[src='./scr-1.png'] {
    position:relative;
    position:absolute; width:2rem; z-index: 5;
    top:-35%;left:3rem;
}
#visi {
    font-size:200%;padding: 0;
    width:100%;
    position: relative;
    h5 {
        opacity:1.25;
        padding: 2em 3em; position: relative;
        transition: left 2s ease-in-out;
    }
}
#fitur-con{
    overflow: hidden;
    width:100%;
}
#fitur {
    padding:2rem 2.5rem 2rem 4.5rem; background-color: #a9d18e22;
    height:max-content;width:300vw; font-size: 200%;
    align-items:center;justify-content: center; position:relative;
    transition: background-color 0.5s ease-in-out;
    h3, p {transition: opacity 0.25s ease-in-out; opacity: 90%; color: $p3;
    filter: saturate(2) brightness(0.6) hue-rotate(30deg);} 
    h3{
        font-size:100%
    }
    p {
        width:90%;
        font-size:36%;
        margin-top:1.2em;
        transition-property: opacity, transform;
        transition: 0.2s ease-in-out;
    }
}
#tri {
    width:3rem; position: relative; position: absolute;
    top:3.5rem; left:80vw; aspect-ratio: 1/1;
    opacity:100%; z-index: 8; transition: all 0.5s ease-in-out;
    polygon {
        fill: #a9d18e;
        transition: all 0.5s ease-in-out;
    }
}
#kece {
    background-image: url(pics/grid.png);
    mask-image: linear-gradient(90deg, #00000000 5%, #000000 10%, #000000 90%, #00000000 95%);
    background-position: 50%;
    background-size: 0.8rem;
    h1 {text-align: center; padding-top: 1em;}
    img[src^='./pics/rec'] {
        width: 2rem;
    }
    span {
        width:9.5rem; margin-top: 2rem; margin: 1rem auto;
        display: flex;justify-content: center; gap:0.5rem; flex-wrap:wrap;
        * {
            transition: all 0.5s ease-in-out;
        }
    }
}
#graph {
    width: 10rem; aspect-ratio: 1.4/1;border-bottom: 0.2rem solid $p5;
    margin: 0 auto; transition: none; margin-top: 2rem;gap:1%;
    padding: 0 0.4rem; display:flex; align-items: flex-end;
    div {
        height: 100%; width:100%; 
        mask-image: linear-gradient(#000000 20%, #00000000 100%);
        p {
            font-size:90%; text-align: center;
            transform: translateY(50%); opacity: 1;
            color: #ffffff; font-weight: 300;
        }
    }
    @for $i from 1 through 4 {
        div:nth-child(4n + #{$i}) {
            background-image: url(pics/rec#{$i}.png);;
        }
    }
}
footer {
    padding: 2rem 2rem; font-size: 50%; line-height: 1.5em;
    background-color: #121212; color: $wht
}
@keyframes spin-back {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}